@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../assets/cool-background.png");
    /* text-align: center; */
}

.test {
    font-size: 1px;
}

